* {
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background: rgb(110,30,120);
  background: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: f8f4f7;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  rgb(110,30,120);
  color: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.sidenav.active {
  left: 0;
}


.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background: rgb(110,30,120);
  background: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
  margin: 6px 0;
}

h1 {
    position: relative;
    bottom: 120px;
    font-family:arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 10px;
    color: rgb(252, 251, 251); 
}

p {
    position: relative;
    bottom: 110px;
    font-family:rial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding-left:10px;
    margin-bottom:25px;
    color: rgb(250, 246, 246);
}

#grandeboite { 
  background: rgb(110,30,120);
  background: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
    margin-left: 490px;
    margin-top: 60px;
    width: 800px;
    height: 300px;
    border: 3px solid #808080;
    border-radius: 28px;
  }

#profil {
    position: relative;
    bottom: 950px;
    left:70px;
    transform: scale(0.16);
    border-radius:50% 50% 48% 52% / 52% 51% 49% 48%;
 }

#logo {
    height: 50%;
    width: 25%;
 }

#grandeboite1 { 
    background: #f2f2f2;
    margin-left: 490px;
    margin-top: 90px;
    width: 800px;
    height: 600px;
    border: 3px solid #808080;
    border-radius: 28px;
 }

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    padding-left:40px;
    font-size: 1.8em;
    text-align: left;
}

.text {
    text-align: left;
    position:relative;
    top: 10px;
    color: rgb(80, 78, 78);
    font-size:medium;
}


#grandeboite2 { 
    background: #f2f2f2;
    margin-left: 490px;
    margin-top: 90px;
    margin-bottom: 150px;
    width: 800px;
    height: 600px;
    border: 3px solid #808080;
    border-radius: 28px;
 }


.entete {
  color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-top: 50px;
}


em {
  color : rgb(110,30,120);
  color: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
}

.text1 {
  text-align: center;
  position:relative;
  top: 10px;
  color: rgb(80, 78, 78);
  font-size:medium;
}

.img {

  border-radius:47% 53% 46% 54% / 53% 52% 48% 47%; 
  
}

#lu {
  display: flex;
  flex-direction: row;
  justify-content:left;
  
}

ol {
  list-style-type: none;
}


@media screen and (max-width: 1200px)
{

.menu {
  width: 480px;
 }

#grandeboite1, #grandeboite2 { 
  margin-left: 0;
  background: #f2f2f2;
  width: 480px;
  height: 150px;
  border: 3px solid #808080;
  border-radius: 10px;
  overflow: auto;
}

#logo, #profil {
  display: none;
}

#grandeboite {
  margin-left: 0;
  margin-top: 90px;
  background: rgb(110,30,120);
  background: linear-gradient(90deg, 
  rgba(110,30,120,1) 0%,
  rgba(161,0,107,1) 39%, 
  rgba(205,0,55,1) 100%);
  width: 480px;
  height: 100px;
  border: 3px solid #808080;
  border-radius: 10px;
}

h1 {
  position: relative;
  top: 8px;
  font-family:arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 10px;
  color: rgb(252, 251, 251);
  font-size: 1.2em; 
}

h3 {
  font-size:0.9em;
  position: relative;
  top: 25px;
}
p {
  position: relative;
  top: 13px;
  font-family:rial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom:45px;
  color: rgb(250, 246, 246);
  font-size: 0.9em;
}

.img {
  width: 38px;
  height:auto;
  
}

.text {
  text-align: left;
  position:relative;
  top: 40px;
  color: rgb(80, 78, 78);
  font-size:0.6em;
}

}
